<h2>Forgot your password?</h2>

Well, that happens. Your email, please.

<%= simple_form_for model, as: :user, url: "/forgot" do |f| %>
  <%= f.input :email, required: false %>
  <%= f.button :submit %>
<% end %>

<%= CGI.escape_html model.inspect %>
